<footer class="test">
    <article class="content-container mb-10 px-10 text-center">
        <a id="github-link" class="relative inline-block mr-5 size-10" href="https://github.com/MuxLee">
            <img alt="Mux Github 링크 아이콘" class="h-inherit w-inherit" src="images/github.png" />
        </a>
        <a id="instagram-link" class="relative inline-block ml-5 size-10" href="https://www.instagram.com/o_mux_o">
            <img alt="Mux Instagram 링크 아이콘" class="h-inherit w-inherit" src="images/instagram.png" />
        </a>
    </article>
    <article class="bg-[#fd7275]">
        <section class="content-container px-10 py-7.5">
            <div>
                <p class="font-bold font-[GothicA1] text-[#262E3B]">&#169; 2025, Ye chan, Lee</p>
            </div>
            <div class="mt-2">
                <p class="text-[0.9em] text-[#364153]">Powered by Angular Framework & Tailwind CSS</p>
            </div>
        </section>
    </article>
</footer>
