<header class="flex container-box items-center justify-between py-7.5 mobile:py-4">
    <div>
        <a class="inline-block" href="/">
            <img class="display-inherit object-cover rounded-sm min-tablet:h-13 min-tablet:w-13 mobile:h-[35px] mobile:w-[35px]" alt="main-logo" src="images/mux.jpeg" />
        </a>
        <div class="inline-block pl-2 align-middle">
            <p class="text-white font-semibold min-tablet:text-[1.25em] mobile:text-[18px]">Mux</p>
            <p class="text-white font-extrabold min-tablet:text-[1.55em] mobile:text-[18px]">Develop Blog</p>
        </div>
    </div>
    <div id="top-menu" class="max-[600px]:hidden">
        <a class="text-white font-semibold text-[1.35em] underline-offset-4 hover:underline" href="#">About</a>
    </div>
</header>
