<header class="bg-black">
    <div class="flex items-center justify-between mobile:p-[10px] pc:px-10 pc:py-7.5 tablet:p-[15px]">
        <div>
            <a class="inline-block" href="/">
                <img class="display-inherit object-cover rounded-sm mobile:h-[30px] mobile:w-[30px] pc:h-13 pc:w-13 tablet:h-13 tablet:w-13" alt="main-logo" src="images/mux.jpeg" />
            </a>
            <div class="inline-block pl-2 align-middle">
                <p class="text-white font-semibold mobile:text-[18px] pc:text-[1.25em] tablet:text-[1em]">Mux</p>
                <p class="text-white font-extrabold mobile:text-[18px] pc:text-[1.55em] tablet:text-[1.3em]">Develop Blog</p>
            </div>
        </div>
        <div id="top-menu">
            <a class="text-white font-semibold text-[1.35em] underline-offset-4 hover:underline" href="#">About</a>
        </div>
    </div>
</header>
