<footer>
    <article class="m-hor-auto mb-10 px-10 text-center">
        <a class="relative inline-block mr-5 size-10 after:content-['Github']" href="https://github.com/MuxLee">
            <img alt="Mux Github 링크 아이콘" class="h-inherit w-inherit" src="images/github.png" />
        </a>
        <a class="relative inline-block ml-5 size-10 after:content-['Instagram']" href="https://www.instagram.com/o_mux_o">
            <img alt="Mux Instagram 링크 아이콘" class="h-inherit w-inherit" src="images/instagram.png" />
        </a>
    </article>
    <article class="bg-[#f5f5f5]">
        <section class="container-box py-7.5">
            <p class="font-bold font-[GothicA1] text-[#666a71]">&#169; 2025, Ye chan, Lee</p>
            <p class="font-[GothicA1] italic mt-3 text-[0.9em] text-[#939393]">Hosted by Github Pages</p>
            <p class="font-[GothicA1] italic text-[0.9em] text-[#939393]">Powered by Angular Framework & Tailwind CSS</p>
        </section>
    </article>
</footer>